{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block content %}

<section class="appointment" style="background-color:gold">
    <div id="app_overlay">

        <div class="container">
            <div class="row">
                <div class="col-md-2 hidden-sm">
                    <div class="appointment-img">

                    </div>
                </div>
                <div class="col-md-8 col-sm-12" style="background-color: rgb(141, 137, 137);">
                    <form action="{%url 'index' %}" method="post" enctype="multipart/form-data" novalidate>
                        <div style='display:none'>
                            <input type="hidden" name="csrfmiddlewaretoken" value="a643fab735d5ce6377ff456e73c4b1af" />
                        </div>
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                <h5 class="form-heading-title"><span class="form-heading-no">1.</span>Vehicle
                                    Information</h5>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.plan|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.vehicle_type|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                <h5 class="form-heading-title"><span class="form-heading-no">2.</span>Appointment
                                    Information</h5>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.appointment_date|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.timeframe|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                <h5 class="form-heading-title"><span class="form-heading-no">2.</span>Contact
                                    Information</h5>
                            </div>

                            <div class="form-group col-md-6 mb-0">
                                {{ form.mobile|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0 text-right">
                                <div class="pull-right">
                                    <input type="submit" name="submit" value="Submit" class="submit btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 hidden-sm">
                    <div class="appointment-img">

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}